lib
fig
sfig
refdb
virtuoso-opensource

classes
libsempre
sempre.jar
module-classes.txt

state
out
test-output

.project
.classpath
.settings
.idea
semparse.iml
*~
*.swp
*.bak
*.pyc
*.cache
*.DS_Store
java.hprof.txt

# Don't put papers here
/papers

# Symlinks
/c
/e
/t
/x
scr
rdf

# interactive outputs
int-output*
int-backup
interactive/.ipynb_checkpoints
# Community server logs
community-server/data
community-server/data-backup
