<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="SempreTestSuite" verbose="10">
  <test name="AllTests">
    <packages>
      <package name="edu.stanford.nlp.sempre">
				<exclude name="edu.stanford.nlp.sempre.interactive"></exclude>
				<exclude name="edu.stanford.nlp.sempre.interactive.test"></exclude>
			</package>
    </packages>
    <groups>
      <run>
        <exclude name="grammar" />
      </run>
    </groups>
  </test>
</suite>
